<!DOCTYPE html>
<html>
<body>
<div align="center">
<h3>Made by Manthan A Panchal</h3>
    
<h1>Hypothesis Testing 2-sample T test </h1>

<h3>Follow Me on - <a href="https://www.linkedin.com/in/manthan-panchal-046b3b198/">LinkedIn</a>&nbsp; 
</div>

</div>
</body>
</html>

### Problem Satement

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import seaborn as sns
import scipy
from scipy import stats
from scipy.stats import norm
import math
plt.style.use('seaborn-darkgrid')
pd.set_option('display.max_rows', None)

In [9]:

data  =[[50, 550], [142, 351], [131, 480], [70, 350]] 

df  = pd.DataFrame(data, columns=['Males', 'Females'])

In [10]:
df

   Males  Females
0     50      550
1    142      351
2    131      480
3     70      350

In [11]:
df.describe()

            Males     Females
count    4.000000    4.000000
mean    98.250000  432.750000
std     45.139598   99.181231
min     50.000000  350.000000
25%     65.000000  350.750000
50%    100.500000  415.500000
75%    133.750000  497.500000
max    142.000000  550.000000

### H0: x1 - x2 = 0 (Null Hypothesis)

### H1: x1 - x2 != 0 (alternate hypothesis)

### 2 Sample T test will be used because we are comparing to groups

In [13]:
stats.ttest_ind(df.Males, df.Females)

Ttest_indResult(statistic=-6.139294288037571, pvalue=0.0008548166684701879)

### There is not enough evidence to reject the null hypothesis